*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#FFBCD9,#FFE2B8);
    color: aliceblue;
    padding: 50px 50px;
}
.container h1{
    font-size: 50px;
    text-shadow: 0 3px 6px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    
}
.container h1 img{
    width: 60px;
    
}

.container button img{
    width: 55px;
}
.container button{
    background-color: #f5d4e2;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    padding-right: 20px;
    margin: 1em;
    border: 1px solid palevioletred;
    border-radius: 40px;
    color: azure;
    font-size:15px;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    background: #fed2e3;
    margin: 20px 0;
    padding: 20px 10px;
    outline: none;
    border-radius: 0 40px;
}

.input-box img{
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

@media (min-width: 300px) {
    .container h1{
        width: 100%;
        max-width: 150px;
        font-size: 30px;
    }
    .container button{
        background-color: #9d617a;
    }
    .input-box{
    position: relative;
    width: 140%;
    max-width: 300px;
    min-height: 200px;
    background-image:url(chat_page\ \(1\).jpg);
    background-position: center;
    border-radius: 0 40px;
}
}